body {
    margin: 0;
    font-family: Arial, sans-serif;
    position: relative;
  }
  
  #game {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  
  #background-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  
  #background {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    object-fit: contain;
  }
  
  /* #textbox {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.8);
      padding: 15px;
      color: white;
  }
  
  #choices {
      display: flex;
      justify-content: center;
      gap: 10px;
      margin-top: 10px;
  }
  
  .choice {
      background: #ccc;
      padding: 10px;
      cursor: pointer;
  } */
  
  /* #change-background {
    position: absolute;
    top: 20px;
    right: 20px;
    background: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 10px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  
  #change-background:hover {
    background: rgba(255, 255, 255, 1);
  } */
  
.tooltip {
  position: absolute;
  top: 0px;
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 500;
  z-index: 100;
  visibility: hidden;
}

#date-time {
  position: absolute;
  top: 20px;
  right: 20px;
  font-family: Arial, sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

#day {
  display: block;
}

#clock {
  display: block;
}

  #bed-button {
    width: 1000px;
    height: 300px;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
  }

  #window-button {
    width: 1500px;
    height: 300px;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
  }

  #chair-button {
    width: 250px;
    height: 500px;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
  }
  
  .moving-button {
    position: absolute;
    /* Các thuộc tính khác của nút bấm nếu cần */
  }
  
  .hidden {
    display: none
  }
  
  .dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    /* opacity: 0.8; */
    color: white;
    border: 2px solid #ccc;
    border-radius: 20px;
    padding: 100px;
    z-index: 10;
    display: none;
    /* box-shadow: inset 0 0 200px black; */
  }
  
  .dialog-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 50px;
  }
  
  .dialog-options {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .dialog-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(20, 20, 20, 0.2);
    padding: 20px;
    cursor: pointer;
    font-size: 30px;
  }
  
  .dialog-option:hover {
    font-weight: 600;
    color: yellow;
  }
  
  #choices {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    display: none;
    z-index: 20;
  }

#back-to-room {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    font-size: 30px;
    color: white;
    text-align: center;
    cursor: pointer;
    border: none;
    display: none;
}
#back-to-room:hover {
    font-weight: 600;
    background: rgba(0, 0, 0, 0.5);
    color: yellow;
}

#back-to-menu {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 10px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 16px;
}
#back-to-menu:hover {
    background: rgba(255, 255, 255, 1);
}

.dialog-description {
  color: white;
  font-size: 30px;
  text-align: center;
}
.naughty-hover:hover {
    color: red;
  }
